<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = [];
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } %>
  <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% if (page.title){ %><meta property="og:title" content="<%= page.title %>"/><% } %>
  <meta property="og:site_name" content="<%= config.title %>"/>

  <% if(page.cover) { %>
    <meta property="og:image" content="<%= page.cover %>" />
  <% } else { %>
    <meta property="og:image" content="<%= config.cover %>"/>
  <% } %>

  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- config.root %><%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link href="<%- config.root %><%- theme.favicon %>" rel="icon">
  <% } %>
  
  <link rel="stylesheet" href="<%- config.root %>css/bootstrap.min.css" media="screen" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/font-awesome.css" media="screen" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/style.css" media="screen" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/highlight.css" media="screen" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/google-fonts.css" media="screen" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/responsive.css" media="screen" type="text/css">  
  <link rel="stylesheet" href="<%- config.root %>css/sidenav.css" media="screen" type="text/css">  
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script src="<%- config.root %>js/jquery-2.0.3.min.js"></script>

  <!---------------------- 关于小本本 ---------------------->

<center>
<div class="accordion-group">
      <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#about">
            <i class="fa fa-bookmark"></i> 关于小本本
          </a>
      </div> <!-- accordion-heading -->

  <div id="about" class="accordion-body collapse in">
    <div class="accordion-inner" style="background-color:#FFFFFF">
      <br>
      <p>用这个小本本的原因是在找GitHub主题时候偶然看见一个前辈的
        <b><a href="https://www.hahack.com" target="_blank">blog</a></b>，他有下面的一段话：</p>
      <p>"将零散的知识点放在一个集中的地方，不断递归重构，形成一套知识系统。"</p>
      <p>这很有帮助，所以我将之前写在GitHub仓库里的笔记转移了过来，以后的学习笔记也在此更新。</p>
    </div>
  </div>
</div>
</center>

  <!---------------------- 关于小本本 ---------------------->


  <!-- analytics -->
  <%- partial('post/google_analytics') %>

</head>
